<footer id="page-footer">
  <div id="page-footer-inner">
    <p>
      Copyright &copy; <%= Time.now.year %>
      <%= link_to 'The Pragmatic Studio', 'http://pragmaticstudio.com' %>
      &bull;
      For fun and learning purposes
    </p>
  </div>
</footer>
